<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <div class="detail">
        <p ><b>Student Details</b></p>

        <li>Student Name : <%= name %></li>
        <li>Age : <%= age %></li>
        <li>Grade : <%= grade %></li>
        <li>Total Marks : <%= totalMark %></li>
        <form action="/">
            <button type="submit">OK</button>
        </form>
    </div>
    
</body>
</html>