<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form action="/details" method="get">
          <label id="studentName">Enter Student Name</label>
          <input placeholder="Name" type="text" name="studentName" id="studentEntry"/><br>
          <button type="submit">Submit</button>
        </form>
        
    </div>
    
</body>
</html>